body {
    margin: 0;
    padding: 0;
    background: #F8F7FA;
}

header, header a{
    display: flex;
    /* 🚀 Esto empuja la bienvenida a la izquierda y el ingresar a la derecha */
    justify-content: space-between;
    /* Centra verticalmente ambos elementos para que queden alineados en el medio */
    align-items: center;
    /* Un pequeño margen a los lados para que el texto no toque el borde exacto de la pantalla */
    padding: 0 20px;
    color: #290b5e;
    background-color: #d2d2f5;
    height: 80px;
    font-family: sans-serif;
    text-decoration: none;
    letter-spacing: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
}

header{border-bottom: 2px solid #7B2CBF ;}

header a:hover {
    cursor: pointer;
    color: #7B2CBF;
}

hr {
    width: 100%;
}
